{% extends "base.html" %}

{% block title %}
  Edit | {{ post.first_name }} {{ post.last_name }}
{% endblock title %}

{% block content %}
<div class="col-md-8" style="margin-top: 150px!important; margin-left: 150px;">
    <div class="d-flex justify-content-between">
        <div>
            <h5>Редактировать анкету</h5>
        </div>
        <div class="align-self-center">
            <a href="{% url 'crud/index' %}" class="btn btn-sm btn-success">Назад</a>
        </div>
    </div>
    <hr>
    <form action="{% url 'crud/update' post.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group my-3">
            <span class="text-muted">Имя:</span>
            <input type="text" class="form-control" name="first_name" placeholder="First Name" value="{{ post.first_name }}">
        </div>
        <div class="form-group my-3">
            <span class="text-muted">Фамилия:</span>
            <input type="text" class="form-control" name="last_name" placeholder="Last Name" value="{{ post.last_name }}">
        </div>
        <div class="form-group my-3">
            <label for="image">Фото:</label>
            <input type="file" class="form-control-file" name="image" id="image">
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="Post Image" class="img-fluid mt-3" style="max-height: 200px;">
            {% endif %}
        </div>
        <div class="form-group my-3">
            <span class="text-muted">Специальность:</span>
            <input type="text" class="form-control" name="speciality" placeholder="Speciality" value="{{ post.speciality }}">
        </div>
        <div class="form-group my-3">
            <span class="text-muted">Опыт</span>
            <input type="number" class="form-control" name="experience" placeholder="Experience" value="{{ post.experience }}">
        </div>
        <div class="form-group my-3">
            <span class="text-muted">Номер:</span>
            <input type="text" class="form-control" name="phone" placeholder="Phone Number" value="{{ post.phone }}">
        </div>
        <div class="form-group my-3">
            <span class="text-muted">Почта:</span>
            <input type="email" class="form-control" name="email" placeholder="Email" value="{{ post.email }}">
        </div>
        <div class="form-group my-3">
            <span class="text-muted">Адрес:</span>
            <input type="text" class="form-control" name="location" placeholder="Location" value="{{ post.location }}">
        </div>
        <div class="form-group my-3">
            <span class="text-muted">Образование:</span>
            <textarea class="form-control" name="education" placeholder="Education">{{ post.education }}</textarea>
        </div>
        <div class="form-group my-3">
            <span class="text-muted">Проводимые процедуры:</span>
            <textarea class="form-control" name="procedure" placeholder="Procedure">{{ post.procedure }}</textarea>
        </div>
        <div class="my-3">
            <button class="btn btn-success btn-block">Обновить</button>
        </div>

    </form>
</div>
{% endblock content %}