{% extends "base.html" %}

{% block title %}
Search Results
{% endblock title %}

{% block content %}
<div class="container" style="margin-top: 150px;">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h3>Search Results</h3>
            <hr>
            <form method="GET" class="mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search by Last Name or Speciality" name="q" value="{{ request.GET.q }}">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </form>
            {% if results %}
            <p>Showing {{ results|length }} results</p>
            {% for post in results %}
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap" style="border-radius: 40px;">
                        </div>
                        <div class="col-md-9">
                            <h5 class="card-title">{{ post.first_name }} {{ post.last_name }}</h5>
                            <p class="card-text"><strong>Специализация:</strong> {{ post.speciality }}</p>
                            <p class="card-text"><strong>Опыт работы:</strong> {{ post.experience }}</p>
                            <p class="card-text"><strong>Телефон:</strong> {{ post.phone }}</p>
                            <p class="card-text"><strong>Email:</strong> {{ post.email }}</p>
                            <p class="card-text"><strong>Место:</strong> {{ post.location }}</p>
                            <p class="card-text"><strong>Образование:</strong> {{ post.education }}</p>
                            <p class="card-text"><strong>Проводимые процедуры:</strong> {{ post.procedure }}</p>

                            <div class="d-flex justify-content-end">
                                <a href="{% url 'crud/view' post.id %}" class="btn btn-sm btn-success me-2">Подробнее о враче </a>
                                <a href="{% url 'crud/edit' post.id %}"  class="btn btn-sm btn-info me-2">Редактировать</a>
                                <a href="{% url 'crud/delete' post.id %}" class="btn btn-sm btn-danger">Удалить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>Ничего не найдено</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

